*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: royalblue;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  left: 0;
  right: 0;
  will-change: transform;
}

.scroll-container .ghost {
  width: 100vw; 
}

.thumbnails-container {
  position: relative;
  height: 100vh;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: royalblue;
}

.thumbnails-container .thumbnails {
  position: relative;
  display: flex;
}


.thumbnails-container .thumbnails .thumbnail {
  height: 100vh;
  width: 100vw;
  background-color: royalblue;
}
